<h1>Selamat Datang <%= data[0].nama %> </h1>
<hr>
<p>Siswa Anda : <%= total.jml_siswa %> </p>
<p>Kelas Anda : <%= total.jml_kls %> </p>
<p>Soal Anda : <%= total.jml_soal %> </p>
<hr>
<a href="/guru/soal/add">Buat Soal</a>
<a href="/guru/nilai">Lihat Nilai Siswa</a>
