<% data.forEach(e => { %>
    <h4>Nis Siswa : <%= e.nis %></h4> <a href="/guru/nilai/detail/<%= e.id_n %>">detail</a>
    <p>Nilai : <%= e.nilai %> </p>
    <p>Kelas : <%= e.id_k %> </p>
<% }) %> 